@using Nomina.Models;
@using Nomina.Controllers;
@using Nomina.Clases;
@model Empleado




@{
    ViewData["Title"] = "AgregarEmpleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AgregarEmpleado</h1>
<hr />
<h3 class="text-center text-light bg-dark">Formulario</h3>
<form asp-controller="Empleado" asp-action="AgregarEmpleado" method="post">
<div class="row">
    <div class="col-md-6">
       
        
            <div>
                @Html.LabelFor(p=>p.Id)
                @Html.TextBoxFor(p=>p.Id, new {@class="form-control"})
               @*  @Html.ValidationMessageFor(p=>p.Id,null, new {@class="text-danger"}) *@
                
            </div>

            <div>
                @Html.LabelFor(p=>p.Nombre)
                @Html.TextBoxFor(p=>p.Nombre, new {@class="form-control"})
                @* @Html.ValidationMessageFor(p=>p.Nombre,null,new {@class="text-danger"}) *@

            </div>

            <div>
                @Html.LabelFor(p=>p.apellido)
                @Html.TextBoxFor(p=>p.apellido, new {@class="form-control"})

            </div>

             <div>
                @Html.LabelFor(p=>p.Edad)
                @Html.TextBoxFor(p=>p.Edad, new {@class="form-control"})

            </div>

            <div>
                @Html.LabelFor(p=>p.fecha_nacimientos)
                @Html.EditorFor(p=>p.fecha_nacimientos, new  {htmlAttributes = new {@class="form-control"} })

            </div>
            <div>
                @Html.LabelFor(p=>p.sexo)
                @Html.TextBoxFor(p=>p.sexo, new {@class="form-control"})

            </div>

            <div>
                @Html.LabelFor(p=>p.salario)
                @Html.TextBoxFor(p=>p.salario, new {@class="form-control"})

            </div>

            <div>
                @Html.LabelFor(p=>p.pais)
                @Html.TextBoxFor(p=>p.pais, new {@class="form-control"})

            </div>

             <div>
                @Html.LabelFor(p=>p.provincia)
                @Html.TextBoxFor(p=>p.provincia, new {@class="form-control"})

            </div>

            <div>
                @Html.LabelFor(p=>p.municipio)
                @Html.TextBoxFor(p=>p.municipio, new {@class="form-control"})

            </div>

            <div>
                @Html.LabelFor(p=>p.barrios)
                @Html.TextBoxFor(p=>p.barrios, new {@class="form-control"})

            </div>

            <div>
                @Html.LabelFor(p=>p.si_posee_licencia)
                @Html.TextBoxFor(p=>p.si_posee_licencia, new {@class="form-control"})

            </div>


            <br />
            <div style="margin:auto" >
            <input type="submit" class="btn btn-primary" value="Guarda" />
            </div>

            
        
    </div>
 </div>   
</form>